{{#if messages.isAssignment}} 
<div class="workitem-dragdrop-area">
  <div class="workitem-dragdrop-icon">
    <p class="work-item-attachments-draganddrop">{{messages.dragAndDropEmptyMsg}}</p>
  </div>
</div>
{{/if}}
<div class="workitem-attachments-scrolling" tabindex="-1">
  <ul class="workitem-attachments-itemlist">
  </ul>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->