<div class="csui-master-fields-label">
    <div class="csui-label" id="{{masterSwitchLabelId}}">{{enable_switch_text}}</div>
    <div class="required-fields-switch"></div>
</div>
<div class="csui-masterbtn-info">{{instructional_text}}</div>
<div class="binf-text-danger binf-hidden" role="alert" aria-live="polite">{{errorMessage}}</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->