<div class="csui-cd-list-item">
    <div class="csui-cd-list-item-name">
        <span class="icon icon-draggable-handle6"></span>
        <span class="csui-type-icon"></span>
        <span class="csui-label" title="{{name}}">{{name}}</span>
        <span class="csui-mime-no-drop">
            {{{icon-v2 iconName="csui_mime_no_drop" size='small' states='true'}}}
        </span>
    </div>
    <div class="csui-cd-list-item-order">
        <span class="csui-order">{{order}}</span>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->