<div class="binf-modal-content">
  <div class="binf-modal-header">
    <h4 class="binf-modal-title">{{title}}</h4>
    <div class="conws-addparticipants-search">
      <div class="conws-addparticipants-userpicker">
        <!-- user picker region -->
      </div>
      <div>
        <div class="conws-addparticipants-rolepicker">
          <!-- roles picker region -->
        </div>
        <div class="conws-addparticipants-rolepicker-help">{{roles-help}}</div>
      </div>
    </div>
  </div>
  <div class="binf-modal-body">
    <div class="conws-addparticipants-members"></div>
  </div>
  <div class="conws-addparticipants-buttons">
    <!-- button bar region -->
  </div>
</div>
