<div class="csui-icons">
  <div class="conws-create-workspace-icon-container" title="{{title}}" aria-label="{{createWorkspaceTitleAria}}" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="conws-icon-create-workspace create-workspace_header_icon"></span>
  </div>
</div>
<div class="conws-create-workspace-view-container"></div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->