<div class="metadata-wrapper binf-col-md-12">
  <div class="metadata-navigation">
    <div class="metadata-sidebar" role="navigation" aria-label="{{sidebarRegionAria}}"></div>
    <div class="metadata-content"></div>
    <div class="metadata-doc-preview binf-hidden"></div>
  </div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->