<select type="text" value="" class="binf-form-control csui-inlineform-input-{{prefix}}">
<option value="">{{namePlaceholder}}</option>
  {{#each selectEnum}}
    <option value="{{value}}">{{displayName}}</option>
  {{/each}}
</select>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->