<div class="xecmpf-fileupload-doc-info-section"></div>
<div class="xecmpf-fileupload-doc-upload-section">
  <div class="xecmpf-fileupload-drag-drop">
    <p title="{{dragDropLabel}}">{{dragDropLabel}}</p>
    <div class="csui-type-icon xecmpf-fileupload-add-doc" tabindex="0" title="{{uploadButtonTitle}}" aria-label="{{uploadButtonAria}}" role="button"></div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->