{{#if statusIcon}}
<div class="fileupload-status-column">
    <span class="csui-icon fileuplaod-cell-statusicon {{statusIcon}}"></span>
    <span class="csui-icon fileuplaod-cell-statustext {{statusLabel}}"> {{statusLabel}}</span>
</div>
{{/if}}

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->