{{#if showCancelButton}}
    <button type="button" class="binf-btn binf-btn-primary csui-acc-tab-region csui-acc-focusable-active cancelPrompt">{{cancel}}</button>
{{/if}}
    <button type="button" class="binf-btn binf-btn-primary csui-acc-tab-region csui-acc-focusable-active submitPrompt">{{runReport}}</button>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->