<div class="webreports-parameter-prompt-form-wrapper">
    <div class="webreports-parameter-prompt-form"></div>
</div>
<div class="webreports-parameter-prompt-footer"></div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->