  <div class="outer-border">
    <div class="loader"></div>
    <div class="binf-sr-only" aria-live="polite" aria-busy="true">
      {{loadingText}}
    </div>
  </div>
  <div class="csui-common-loading-parent-wrapper binf-hidden">
    <div class="csui-loading-3dots">
    <div class="csui-loading-dots-wrapper">
      <span class="csui-loading-dot"></span>
      <span class="csui-loading-dot"></span>
      <span class="csui-loading-dot"></span>
    </div>
     <div class="placeholder" aria-live="polite" aria-busy="true">
      {{loadingText}}
    </div>
    </div>
  </div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->