<div class="csui-search-header-title-container">
  <h2>
    <span id="resultsTitle" class="csui-results-title"></span>
    <span id="customSearchTitle" class="csui-custom-search-title"></span>
  </h2>
</div>
<span id="headerCount" class="headerCount"></span>
<span id="searchHeaderCountLive" role="status" class="binf-sr-only" aria-live="polite"></span>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->