<div class="tile-icon xecmpf-file-upload-expand" tabindex="0" aria-label="{{expandArea}}" role="button" title={{titleExpand}}>
  {{{icon-v2 iconName='csui_action_expand32' states='true'}}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->