<span class="csui-selected-list-item-icon csui-type-icon"></span>
<div class="csui-selected-list-item-name-wrapper">
    <span class="csui-selected-list-item-name">{{name}}</span>
  <span class="csui-icon formfield_clear csui-deselected-icon" aria-label="{{clearItem}}"
        title="{{clearItem}}">
  </span>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->