<div class="conws-collapse" role="button" tabindex="0" title="{{title}}">
    {{{icon-v2 iconName='csui_action_minimize32' theme=iconTheme states='true'}}}
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->