<div class="csui-thumbnail-properties">
  <button type="button" class="csui-btn-metadata binf-btn" title="{{propertiesTitle}}">
    {{{icon-v2 iconName='csui_action_properties32' states='true' }}}
  </button>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->