{{#if enabled}}
<div class='csui-toolbar-control-settings'>
    <div role="button" class="csui-toolbar-settings csui-acc-focusable"
        title="{{settingLabel}}" aria-label="{{settingLabel}}"
        aria-haspopup="true" aria-expanded="false">
      {{{icon-v2 iconName=iconName theme=iconTheme states='true'}}}
    </div>
  </div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->