<button type="button" aria-label="{{workflow}}" class="csui-workflow-button csui-workflow-cellview">
  <span title="{{workflow}}" class="csui-icon-workflow"> {{{icon-v2 iconName="status_workflow24" size="small"}}} </span>
</button>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->