<div class="conws-header-error content-tile">
  <div class="conws-header-error-icon-div">
    <div class="conws-header-error-icon-parent">
      <div class="conws-header-error-icon notification_error"></div>
    </div>
  </div>
  <div class="conws-header-message">{{errorMessage}}</div>
</div>