

{{#if title}}
  <div class="csui-member-list-group-title">
    <p id="memberlisttitle" class="title title-recepients" title="{{title}}">{{title}}</p>
   </div>
{{/if}}
<div class="content">
  <ul class="csui-member-list-group binf-list-group" aria-labelledby="memberlisttitle"></ul>
</div>



<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->