<div class="csui-perspective-toolbar"></div>

<div class="csui-facet-table-container">
  <div class='csui-side-panel csui-sidepanel-hidden'>
    <div class="csui-table-facetview csui-facetview-hidden csui-facetview-visibility"></div>
    <div class="csui-table-treeview csui-treeview-hidden csui-treeview-visibility"></div>
  </div>
  
  <div class="csui-outertablecontainer">
    
    <div class="csui-innertablecontainer">
      <div class="csui-table-facetbarview xecmpf-fileupload-filter-view"></div>
        <div class="csui-table-tableview xecmpf-fileupload-table-view"></div>
        <div id="paginationviewMA"></div>
      <div class="cs-thumbnail-wrapper"></div>
    </div>
  </div>
</div>
 
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->