<div class="xecmf-fileupload-capture-category">
  <div class="xecmf-fileupload-capture-doc-type"></div>
  <div class="xecmf-fileupload-capture-category-info"></div>
</div>
<div class="xecmf-fileupload-capture-preview"></div>
  
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->