<div class="csui-loaderpanel">
  <div class="binf-row">
    <div class="binf-col-sm-6" id="csui-loading-stage">
      {{label}}
    </div>
    <div class="binf-col-sm-4">
      <div class="csui-loaderpanel-inner"></div>
    </div>
    <div class="binf-col-sm-2 bin-pull-right">
      <a aria-label="{{cancel}}" role="link" class="binf-pull-right csui-loader-cancel" tabindex="0">{{cancel}}</a>
    </div>
  </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->