<div class='xecmpf-file-upload-capture-item-validation-icon'>
  <span class="csui-icon xecmpf-file-upload-valid"></span>
  <span class="csui-icon xecmpf-file-upload-invalid"></span>
</div>
<div class='xecmpf-file-upload-capture-item-icon'>
  <span class="{{iconClass}}"></span>
</div>
<div class="xecmpf-file-upload-capture-item-info">
  <p class="xecmpf-file-upload-capture-item-info-name" aria-label="{{name}}" title="{{name}}">{{name}}</p>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->