<div class='xecmpf-file-upload-doctype-view'>
    <div class="xecmpf-file-upload-doctype-header">
        <h4 title="\{{options.docTypeLabel}}" aria-label="\{{options.docTypeLabel}}">\{{options.docTypeLabel}}</h4>
    </div>
    <div class="xecmpf-file-upload-doctype-form">
        <div class="xecmpf-file-upload-doctype" id="xecmpf-file-upload-doctype"></div>
    </div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->