{{#if formattedValue}}
    <div class="csui-table-cell-categories-text">
    <span class="csui-table-cell-categories-title">{{formattedValue}}</span>
    {{#if count}}
        <span class="csui-count">+{{count}}</span>
    {{/if}}
    </div>
{{/if}}
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->