<a class="conws-header-navlink" href="{{backToPreviousLink}}" title="{{backToPreviousTitle}}">
  <div class="conws-header-navicon"></div>
  <div class="conws-header-navtext">{{backToPreviousTitle}}</div>
</a>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->