<span class="csui-button-icon csui-breadcrumb-caret-type {{breadcrumbsCaretName}}"></span>
<span class="csui-breadcrumb-btn-innertext">{{breadcrumbsText}}</span>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->