<div class="xecmpf-actionplan-empty-content">
    <div class="xecmpf-actionplan-emptyContent-icon"></div>
    <div class="xecmpf-actionplan-emptyContent-msg" title="{{emptyContentMsg}}">{{emptyContentMsg}}</div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->