<span class="icon icon-search" style="display: inline-block" title="{{tooltip}}">{{{icon-v2 iconName='csui_action_search32' states='true' size='xsmall'}}}</span>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->