{{#if showBanner}}
<div id="banner-region" class="binf-row"></div>
{{/if}}
<div id="main" class="binf-row">
    <div id="content-region" class="binf-col-xs-6 binf-col-sm-6 binf-col-md-8 binf-col-lg-9 binf-col-xl-9"></div>
    <div id="sidebar-region" class="binf-col-xs-6 binf-col-sm-6 binf-col-md-4 binf-col-lg-3 binf-col-xl-3"></div>
</div>
<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->