<div class="webreports-visual-count">
    <div class="webreports-visual-count-facet-table-container">
        <div class="webreports-visual-count-facetpanelview"></div>
        
        <div class="webreports-visual-count-outertablecontainer">
            
            <div class="webreports-visual-count-innertablecontainer">
                <div class="webreports-visual-count-facetbarview"></div>
                <div class="webreports-visual-count-controls-parent"></div>
                <div class="webreports-visual-count-chart"></div>
            </div>
        </div>
    </div>
    <div class="webreports-visual-count-footer"></div>
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->