<div class="cs-more tile-expand" title="{{expandIconTitle}}" aria-label="{{expandIconAria}}"
     role="button">
  {{{icon-v2 iconName='csui_action_expand32' }}}
</div>

<!-- Copyright (c) 2016-2017  OpenText Corp. All Rights Reserved. -->